* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #333;
    color: #fff;
}

.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

    .container {
        display: flex;
        margin: 20px 0;
    }

    .col {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: 0 20px;
    }

    input {
        width: 400px;
        border: none;
        border-radius: 5px;
        padding: 7px 15px;
        outline: none;
        margin: 20px 0;
        text-align: center;
        font-size: 2em;
    }

    #symbol {
        width: 56px !important;
    }

    label {
        font-size: 1.5em;
        margin-top: 10px;
    }

    button {
        width: 60px;
        height: 60px;
        cursor: pointer;
        border-radius: 5px;
        border: 2px solid #fff;
        background: transparent;
        color: #fff;
        font-size: 2em;
        margin: 0 20px;
        outline: none;

        &:hover {
            border-color: #aaa;
            color: #aaa;
        }
    }
}

/*
    RESPONSIVE
*/

@media (max-width: 1000px) {
    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .col {
            width: 100%;
        }
    }

    .row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    input {
        width: 90% !important;
    }
}