* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #212121;
    color: #fff;

    h1 {
        font-size: 3em;
        text-align: center;
        margin-top: 50px;
    }

    a {
        color: #fff;
    }

    .container {
        width: 1200px;
        margin: 50px auto;

        .card {
            width: 100%;
            break-inside: avoid;
            height: auto !important;
            background: #fff;
            color: #333;
            height: 100%;
            border-radius: 3px;

            .card-top {
                width: 100%;

                img {
                    width: 100%;
                }
            }

            .card-info {
                padding: 0 20px;

                h3 {
                    font-size: 2em;
                    font-weight: 400;
                }

                p {
                    font-weight: 300;
                    margin-bottom: 10px;
                }
            }

            .card-footer {
                padding: 20px;
                border-top: 1px solid rgba(180, 180, 180, 0.5);

                .btn {
                    background: #333;
                    color: #fff;
                    padding: 10px;
                    text-decoration: none;
                    border-radius: 5px;

                    &:hover {
                        background: #444;
                    }
                }
            }

            h3 {
                margin: 0;
                padding: 0;
            }
        }

        .grid-item {
            width: 30%;
            margin: 10px;
        }
    }


    .col {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/*
    RESPONSIVE
*/

@media (max-width: 1200px) {
    .container {
        width: 100% !important;
        padding: 20px;
    }
}

@media (max-width: 600px) {
    .card {
        width: 80% !important;
    }

    h1 {
        font-size: 2em;
    }
}